#header-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
}

#nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

#nav-item a,
#nav-item a:hover {
    font-size: 1.2rem;
    text-decoration: none;
    color: gray;
}

/* #nav-content {
} */

#nav-content a,
#nav-content a:hover {
    text-decoration: none;
    color: black;
}

.nav-section {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}