#header-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    background-color: #ffa216fb;
    border-radius: 5px;
}

#nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#nav-item a {
    font-size: 1.4rem;
    color: white;
}