#header-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2.0;
}

#nav-content a,
#nav-content a:hover {
    text-decoration: none;
    color: black;
}

#gotop-button {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    background-color: white;
}

#gotop-button:hover {
    background-color: rgb(199, 199, 199);
}

#home-button {
    position: fixed;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    background-color: white;
}

#home-button:hover {
    background-color: rgb(199, 199, 199);
}