body {
    display: flex;
    flex-direction: column;
    margin: auto 8%;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h1 {
    color: #0045FF;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #0095FF;
}

h3 {
    color: #00C3FF;
}

h4 {
    color: #00F1FF;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

footer a,
footer a:hover {
    text-decoration: none;
    color: gray;
}